@use '@styles/breakpoints' as *;

.lobby {
  width: 100%;
  height: calc(100dvh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(lg) {
    flex-direction: row;
    gap: 2rem;
  }

  &__players {
    @include respond(lg) {
      flex: 2;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;

    @include respond(lg) {
      flex: 1;
      justify-content: flex-start;
    }
  }
}
