@use '@styles/variables' as *;

.avatar {
  display: inline-block;
  object-fit: cover;
  user-select: none;

  &--round {
    border-radius: 100%;
  }

  &--square {
    border-radius: $radius-sm;
  }

  &--xs {
    width: 24px;
    height: 24px;
  }

  &--sm {
    width: 32px;
    height: 32px;
  }

  &--md {
    width: 40px;
    height: 40px;
  }

  &--lg {
    width: 5rem;
    height: 5rem;
  }

  &--xl {
    width: 8rem;
    height: 8rem;
  }
}
