.avatar {
  display: inline-block;
  object-fit: cover;
  border-radius: 100%;
  user-select: none;

  &--xs {
    width: 24px;
    height: 24px;
  }

  &--sm {
    width: 32px;
    height: 32px;
    }

    &--md {
    width: 40px;
    height: 40px;
    }

    &--lg {
    width: 56px;
    height: 56px;
    }
}

