@use '@styles/variables' as *;

.avatar {
  display: inline-block;
  overflow: hidden;
  object-fit: cover;
  user-select: none;


  &__img {
    display: block;
    width: 100%;
    height: 99%;
    object-fit: cover;
  }

  &--round {
    border-radius: 100%;

    .avatar__img {
      border-radius: 100%;
    }
  }

  &--square {
    border-radius: $radius-sm;

    .avatar__img {
      width: 100%;
      height: 100%;
    }
  }

  &--xs {
    width: 24px;
    height: 24px;
  }

  &--sm {
    width: 32px;
    height: 32px;
  }

  &--md {
    width: 40px;
    height: 40px;
  }

  &--lg {
    width: 5rem;
    height: 5rem;
  }

  &--xl {
    width: 8rem;
    height: 8rem;
  }
}
