@use '@styles/variables.scss' as *;
@use '@styles/colors.scss' as *;
@use '@styles/fonts.scss' as *;
@use '@styles/breakpoints.scss' as *;

.create-user-modal {
  z-index: 10;
  display: flex;
  flex-direction: column;

  &__avatar {
    border-radius: 100%;
    position: relative;
    width: 8rem;
    height: 8rem;
    align-self: flex-end;
    margin-top: -3rem;

    @include respond(xs) {
      margin-top: -5rem;
    }

    &__edit-button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2.25rem;
      height: 2.25rem;
      background-color: var(--primary-dark);
      border-radius: $radius-sm;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: -1rem;

    &__username {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    &__label {
      width: fit-content;
      background-color: var(--primary-dark);
      color: var(--pure-white);
      padding: 0.5rem 1rem;
      border-radius: $radius-xl;
    }

    &__input {
      padding: 0.5rem 1rem;
      border-radius: $radius-md;
      border: 1px solid var(--midlight-gray);
    }

    &__error {
      color: var(--red-alert);
      font-size: $font-size-md;
      text-align: right;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
