.game-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__answers-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__player-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
