@use '@styles/variables' as *;

.avatar-gallery {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    button {
      display: flex;
      width: fit-content;
      height: fit-content;
      border-radius: $radius-sm;
    }
  }
}

.cell {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
}
