@use '@styles/variables' as *;

.avatar-gallery {
  &__grid {
    max-width: 100%;
    display: grid;
    gap: 0.65rem;
    grid-template-columns: repeat(auto-fit, minmax(4.75rem, 1fr));

    button {
      display: flex;
      width: fit-content;
      height: fit-content;
      border-radius: $radius-sm;
    }
  }
}

.cell {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
}
