.avatar-gallery {
  padding: 1rem;

  &__grid {
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
}
